body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: larger;
  background-color: rgb(255, 244, 244) ;
}
